.whatsapp-image-2024-04-10-at-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 824px;
  object-fit: cover;
}
.join-our-plastic,
.plastic-collecting-app {
  position: absolute;
  left: 43px;
  display: inline-block;
}
.plastic-collecting-app {
  top: 824px;
  width: 524px;
  height: 76px;
}
.join-our-plastic {
  top: 900px;
  font-size: var(--font-size-13xl);
  width: 1365px;
}
.desktop-2 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray);
  height: 1024px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
