.desktop-8-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 810px;
  object-fit: cover;
}
.selling-plastic-recycling-prod {
  margin: 0;
  font-size: var(--font-size-29xl);
}
.selling-plastic-recycling {
  margin: 0;
}
.selling-plastic-recycling-container {
  position: absolute;
  top: 816px;
  left: 0;
  display: inline-block;
  width: 1440px;
  height: 208px;
}
.desktop-8 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
