body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-29xl: 48px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-gray: #0a0909;
  --color-white: #fff;
}
